/* GENERAL STYLES */
:root {
    --soft-cyan-full-slider-bar: hsl(174, 77%, 80%);
    --strong-cyan-slider-backround: hsl(174, 86%, 45%);
    --light-grayish-red-discount-background: hsl(14, 92%, 95%);
    --Light-red-discount-text: hsl(15, 100%, 70%);
    --pale-blue-CTA-text: hsl(226, 100%, 87%);
    --white-pricing-component-background: hsl(0, 0%, 100%);
    --very-pale-blue-main-background: hsl(230, 100%, 99%);
    --light-grayish-blue-empty-slider-bar: hsl(224, 65%, 95%);
    --light-grayish-blue-toggle-background: hsl(223, 50%, 87%);
    --grayish-blue-text: hsl(225, 20%, 60%);
    --dark-desaturated-blue-text-CTA-background: hsl(227, 35%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    
    font-family: 'Manrope', sans-serif;
    color: var(--grayish-blue-text);
    background-color: var(--very-pale-blue-main-background);
    overflow-x: hidden;
}

